streamlit>=1.28.0,<1.35.0
selenium==4.17.2
webdriver-manager==4.0.1
pandas>=1.5.0,<2.0.0
apscheduler==3.10.4
psycopg2-binary
beautifulsoup4==4.12.2
plotly==5.15.0
python-dotenv==1.0.1
sqlalchemy==2.0.27